* {
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: #46424D;
  color: #FFF;
  max-width: 100%;
  margin: 0px;
  display: flex;
  justify-content: space-around;
  height: 50px;
  align-items: center;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
}

.container {
  background-color: #2B2733;
  color: #CBC9CF;
  height: 85.55vh;
  width: 90vw;
  padding: 30px;
}

.left-sub-container {
  background-color: #46424D;
  color: #FFF;
  height: 75vh;
}

.right-container {
  width: 50%;
  border-left: 3px solid #46424D;
}

.study-button {
  background: url("assets/study.svg");
  color: #FFF;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: 60px 2px;
  height: 50px;
  width: 150px;
  border: 1px solid #FFF;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 27px;
  border-radius: 5px 5px;
}

.meditate-button {
  background: url("assets/meditate.svg");
  color: #FFF;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: 60px 2px;
  height: 50px;
  width: 150px;
  border: 1px solid #FFF;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 27px;
  border-radius: 5px 5px;
}

.exercise-button {
  background: url("assets/exercise.svg");
  color: #FFF;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: 60px 2px;
  height: 50px;
  width: 150px;
  border: 1px solid #FFF;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 27px;
  border-radius: 5px 5px;
}


/* Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC
