* {
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: #46424D;
  color: #FFF;
  max-width: 100%;
  margin: 0px;
  display: flex;
  justify-content: space-around;
  height: 50px;
  align-items: center;
}

body {
  margin: 0;
}

main {
  display: flex;
}

.container {
  background-color: #2B2733;
  color: #CBC9CF;
  height: 86.2vh;
  width: 90vw;
  padding: 30px;
}

.left-sub-container, 
.timer-sub-container {
  background-color: #46424D;
  color: #FFF;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2px 65px;
  border-radius: 10px;
  filter: drop-shadow(3px 3px #26222D);
}

.timer-sub-container {
  align-items: center;
}

.start-timer-study,
.start-timer-meditate,
.start-timer-exercise {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: inherit;
  color: #FFF;
  font-size: 20px;
}

.start-timer-study {
  border: 3px solid #B3FD78;
}

.start-timer-meditate {
  border: 3px solid #C278FD;
}

.start-timer-exercise {
  border: 3px solid #FD8078;
}

.select-a-category {
  padding: 2px 2px;
  position: relative;
  bottom: 8px;
  right: -36px;
}

.right-container {
  width: 50%;
  border-left: 3px solid #46424D;
  display: flex;
  flex-direction: column;
}

.right-container > p {
  text-align: center;
}

.left-buttons {
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 98px;
  right: 6px;
}

.study-button,
.meditate-button,
.exercise-button {
  color: #FFF;
  border: 1px solid #FFF;
}

.study-button {
  background: url("assets/study.svg");
}

.meditate-button {
  background: url("assets/meditate.svg");
}

.exercise-button {
  background: url("assets/exercise.svg");
}

.study-button-active {
  background: url("assets/study-active.svg");
  color: #B3FD78;
  border: 1px solid #B3FD78;
}

.meditate-button-active {
  background: url("assets/meditate-active.svg");
  color: #C278FD;
  border: 1px solid #C278FD;
}

.exercise-button-active {
  background: url("assets/exercise-active.svg");
  color: #FD8078;
  border: 1px solid #FD8078;
}

.study-button,
.study-button-active,
.meditate-button,
.meditate-button-active,
.exercise-button,
.exercise-button-active {
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: 58px 10px;
  height: 67px;
  width: 142px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 27px;
  border-radius: 5px 5px;
}

.error-message {
  position: relative;
  color: #EFB7EC;
  top: -80px;
  right: -34px;
  font-size: 12px;
}

.warning-label {
  height: 15px;
  width: 25px;
}

.accomplish {
  position: relative;
  bottom: 111px;
  right: -35px;
}

.accomplish-input {
  bottom: 76px;
  right: -35px;
  width: 620px;
}
.seconds-input {
  right: -18px;
  width: 243px;
}

.minutes-input {
  right: 34px;
  width: 243px;
}

.accomplish-input, 
.seconds-input,
.minutes-input {
  position: relative;
  background: transparent;
  border: none;
  border-bottom: 1px solid #FFF;
  color: #FFF;
}

.minutes-time {
  right: -35px;
}

.seconds-time{
  right: -90px;
}

.minutes-time, 
.seconds-time {
  position: relative;
  bottom: 52px;
}

.start-button {
  float: right;
  position: relative;
  bottom: -32px;
  right: 30px;
  width: 176px;
  height: 26px;
}

.error-bottom-border {
  border-bottom-color: #EFB7EC;
}

.left-buttons-border {
  padding: 5px;
  border: 2px solid #EFB7EC;
}

.timer-countdown {
  font-size: 70px;
  font-weight: 700;
  font-family: sans-serif;
  margin: 0;
}

.timer-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.activity-description {
  font-size: 20px;
  margin: 0;
  font-weight: 200;
}

.log-activity {
  width: 180px;
}

.create-new-activity {
  position: absolute;
  top: 287px;
  width: 250px;
}

.log-activity,
.create-new-activity {
  height: 25px;
  font-size: 12px;
  background-color: #FFF;
  border: 0;
  border-radius: 2px;
}

.past-activities-card {
  background-color: #46424D;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  height: 135px;
  filter: drop-shadow(3px 3px #26222D);
  margin-bottom: 10px;
}

.past-activity-title {
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: -14px;
  font-family: sans-serif;
}

hr {
  margin: 15px;
  border-width: 2px;
  border-style: solid;
  border-radius: 2px;
  height: 32px;
}

.card-words-holder {
  margin-left:15px
}

aside {
  overflow-y: auto;
}

button {
  cursor: pointer;
}

.hidden {
  display: none;
}

